html, input, select, #hash {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

body {
    background-color: #ccc;
}

#stage {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#greeting {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    z-index: 11;
}

#greeting span {
    display: inline-block;
    margin: auto;
    text-align: center;
}

#controls, #greeting, #toggle-controls {
    -webkit-transition: 0.3s ease-out;
	-moz-transition:    0.3s ease-out;
	-o-transition:      0.3s ease-out;
	-ms-transition:     0.3s ease-out;
    transition:         0.3s ease-out;
}

#controls, #greeting {
    width: 220px;
    height: 125px;
    padding: 0px 10px 0px 10px;
    background-color: #222;
    position: fixed;
    margin-left: -110px;
    left: 50%;
    bottom: 20px;
}

#controls {
    z-index: 10;
}

#color-form {
    background-color: #222;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

input[type=text],
input[type=text]:hover,
input[type=text]:focus,
input[type=text]:active
{
    border: 2px;
    outline: none;
    outline-offset: 0;
    padding: 10px;
    font-size: 3em;
    width: 160px;
    background-color: #222;
    text-transform: uppercase;
    color: #fff;
}

#hash {
    font-size: 3em;
    margin-right: 3px;
}

#modifiers {
    background-color: #222;
}

#color-chooser {
    width: 150px;
    height: 30px;
    background-color: #222;
    float: left;
    font-size: 1.2em;
    color: #fff;
    border: none;
}

#controls select:hover {
    cursor: pointer;
}

.btn {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #999999;
    margin: auto;
    display: inline-block;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#down {
    border-left: 5px solid #222;
}

.btn:hover {
    cursor: pointer;
}

#greeting-btn {
    width: 50%;
}

#error {
    width: 220px;
    height: 50px;
    padding 10px;
    background-color: #222;
    color: #f00;
    font-size: 1em;
    text-align: center;
    line-height: 50px;
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 10;
    margin-left: -110px;
}

#toggle-controls {
    width: 100px;
    height: 30px;
    background-color: #222;
    color: #ccc;
    line-height: 30px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    visibility: hidden;
}

#toggle-controls:hover {
    cursor: pointer;
    color: #fff;
}
